{% extends 'chat/main.html' %}

{% block title %} {{ chat_type }} переписка {% endblock %}
{% block header %}

<div class="flex-1 flex flex-col">
    <div class="flex items-center justify-between bg-white">
        <div class="flex items-center p-2 rounded-lg">
            <img alt="Chat avatar placeholder" class="w-8 h-8 rounded-full" height="40" src="{{ chat_avatar_url.url }}" width="40"/>
            <span class="ml-3 text-500">{{ chat_title }}</span> <!-- Имя пользователя или название группы -->
        </div>
        <button class="text-gray-500" id="optionsButton">
            <i class="fas fa-ellipsis-v"></i>
        </button>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="flex-1 p-4 overflow-y-auto">
    {% for message in messages %}
        <div class="flex mb-4 {% if message.sender == request.user %}justify-end{% endif %}">
            {% if message.sender != request.user %}
                <img alt="User  avatar placeholder" class="w-8 h-8 rounded-full" height="40" src="{{ message.sender.photo.url }}" width="40"/>
            {% endif %}
            <div class="{% if message.sender == request.user %}mr-3 bg-blue-500 text-white{% else %}ml-3 bg-gray-100{% endif %} p-2 rounded-lg">
                <p class="text-sm">{{ message.content }}</p>
            </div>
            {% if message.sender == request.user %}
                <img alt="User  avatar placeholder" class="w-8 h-8 rounded-full" height="40" src="{{ message.sender.photo.url }}" width="40"/>
            {% endif %}
        </div>
    {% endfor %}
</div>

<div class="p-4 bg-white border-t border-gray-200">
    <form method="post" action="{% url 'send_message' %}">
        {% csrf_token %}
        <input type="hidden" name="group_id" value="{{ group.id }}">  <!-- Убедитесь, что group.id передается -->
        <div class="flex items-center">
            <input class="flex-1 p-2 border border-gray-300 rounded-lg" name="content" placeholder="Написать сообщение" type="text" required/>
            {% if chat_type == 'personal' %}
                <input type="hidden" name="receiver" value="{{ other_user.username }}"/> <!-- Скрытое поле для имени получателя -->
            {% endif %}
            <button class="ml-2 text-blue-500" type="submit">
                <i class="fas fa-paper-plane"></i>
            </button>
        </div>
    </form>
</div>

<!-- Options Modal -->
<div class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center hidden" id="optionsModal">
    <div class="bg-white p-6 rounded-lg shadow-lg w-3/4 md:w-1/3">
        <h3 class="text-lg font-semibold mb-4">Действия</h3>
        <ul>
            {% if chat_type == 'personal' %}
                <li class="mb-2">
                    <button class="w-full text-left p-2 hover:bg-gray-100 rounded-lg">
                        Заблокировать пользователя
                    </button>
                </li>
                <li class="mb-2">
                    <button class="w-full text-left p-2 hover:bg-gray-100 rounded-lg" onclick="window.location.href='{% url 'delete_chat' other_user.username %}'">
                        Удалить чат
                    </button>
                </li>
            {% elif chat_type == 'group' %}
                <li class="mb-2">
                    <button class="w-full text-left p-2 hover:bg-gray-100 rounded-lg" onclick="window.location.href='{% url 'add_members' group.id %}'">
                        Добавить участников
                    </button>
                </li>
                <li class="mb-2">
                    <button class="w-full text-left p-2 hover:bg-gray-100 rounded-lg" onclick="window.location.href='{% url 'edit_group' group.id %}'">
                        Редактировать группу
                    </button>
                </li>
                <li class="mb-2">
                    <button class="w-full text-left p-2 hover:bg-gray-100 rounded-lg" onclick="window.location.href='{% url 'delete_group' %}'">
                        Удалить группу
                    </button>
                </li>
                <li class="mb-2">
                    <button class="w-full text-left p-2 hover:bg-gray-100 rounded-lg">
                        Выйти из группы
                    </button>
                </li>
            {% endif %}
        </ul>
        <div class="flex justify-end mt-4">
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" id="closeModalButton">
                Закрыть
            </button>
        </div>
    </div>
</div>

<script>
    document.getElementById('optionsButton').addEventListener('click', function() {
        document.getElementById('optionsModal').classList.remove('hidden');
    });

    document.getElementById('closeModalButton').addEventListener('click', function() {
        document.getElementById('optionsModal').classList.add('hidden');
    });
</script>

{% endblock content %}
